:root {
  /* text colors */
  --background-color-primary: #f4f1ec;
  --background-color-secondary: #6e8679;
  --text-color-primary: #303030;
  --text-color-secondary: #ffffff;
  /* buttons */
  --button-border-color: #96afa1;
  /* section footers */
  --section-footer-background-color: #96afa1;
  --button-hover-color: #6e8679;
  --button-color: #96afa1;
  --table-cell-color-primary: #96afa1;
  --table-cell-color-secondary: #eaeaea;
}
* {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

section h2,
footer h2 {
  text-transform: uppercase;
  font-size: calc(2rem + 1vw);
  font-weight: 200;
  margin-bottom: 5rem;
}
section .container,
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

section,
footer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 2rem 6rem 2rem;
  color: var(--text-color-primary);
  position: relative;
}
section.offer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  gap: 5rem;
  width: 100%;
  padding: 0;
  padding-top: 8rem;
}
.offer-container h3 {
  font-size: calc(1.2rem + 0.2vw);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 300;
  max-width: max-content;
  padding-bottom: 1rem;
  border-bottom: 1px solid #9e9d9d;
  align-self: flex-start;
}

@media (max-width: 768px) {
  #offer h2 {
    margin-bottom: 5rem;
  }
}
